body {
    background-color: rgb(50, 50, 50) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(50, 50, 50) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.font-size {
    font-size: 38px !important;
}

.margin-top {
    margin-top: 32px;
}

.new-game {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}